/config.json

*.bak


bower_components
jspm_packages/
node_modules/

*.db
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo

.env
.env.test
.eslintcache
.grunt
.node_repl_history
.npm

dist
logs

lerna-debug.log*
npm-debug.log*
pids
yarn-debug.log*
yarn-error.log*
